// @use './abstracts/' as *;
$bodyBg: #F3F4FA;
$mainBg: #fff;
$mainColor: #8624DB;
$txtColor: #4E4D4F;
$purple: #8624DB;
$orange: #FF9066;
$white: #fff;
$black: #000;
$green: #4CAF50;
$red: #DB190C;

$fontFamily: 'Roboto', sans-serif;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 384px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;

// @use './variables' as *;

@mixin flex($alignItem: center, $justifyContent: center) {
    display: flex;
    align-items: $alignItem;
    justify-content: $justifyContent;
}

@mixin mobile {
    @media only screen and (max-width: $mobile-width) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: $tablet-width) {
        @content;
    }
}

// @use './variables' as *;

.row {
    display: flex;
    flex-wrap: wrap;
    // margin: 0 math.div($spacing, 2) * -1;
    margin: 0 -24px;

    // @include tablet {
    //     margin: 0 math.div($mobileSpacing, 2) * -1;
    // }

    @include tablet {
        margin: 0 -12px; /* 0 * 0.5 = 0 */
    }
}

[class*="col-"] {
    padding: 0 24px;

    @include tablet {
        padding: 0 12px;
    }
}


// @forward './flex-grid';


// 

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Quicksand', sans-serif;
    // font-family: $fontFamily;
    color: $txtColor;
    font-size: $fontSizeNormal;
    line-height: 1.5;
    background-color: $bodyBg;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 10px;
    height: 18px;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    width: 100%;
}

ul,
li {
    list-style-type: none;
}

.mb {
    margin-bottom: $spacing;

    @include tablet {
        margin-bottom: $mobileSpacing;
    }
}

.title {
    font-size: $fontSizeMedium;
    font-weight: 700;
}

.txt-success {
    color: $green;
}

.txt-danger { 
    color: $red;
}

.cal-header-sub{
    color: #8624DB;
}

.cal-header-title {
    color: grey;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.globCalendar{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.globCalendarSidebar{
    flex: 1 1 20%;
    background-color: #ece8e8;
    padding: 8px;
    border-radius: 10px;
}

.globCalendarSidebarList{
    background-color: #ac8ac9;
    margin: 10px 0;
    border-radius: 8px;
    text-align: center;
    padding: 5px;
}

.globCalendarFull{
    flex: 1 1 100%;
    margin-left: 15px;
}

.event{
    text-align: center;
}

.produit{
    margin-left: 8px;
}
.lim{
    width: 450px;
}

.global{
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    padding-top: 6px;
}

.pro{
    font-size: 13px;
}

.send{
    margin-top: 60px;
    text-align: center;
}

.sendTo{
    margin-top: 20px;
    margin-bottom: 20px;
} 

.gift{
    font-size: 15px;
}

.eco :hover{
    background-color: #ece8e8;
    border-radius: 10px;
    cursor: pointer;
    
}
.ecotwo{
    display: flex;
    padding: 10px;
    background-color: #fffdfd;
    border-radius: 10px;
    text-align: start;
}

.ecothree{
    display: flex;
    padding: 10px;
    background-color: #fffdfd;
    border-radius: 10px;
    text-align: center;
}

.info{
    text-align: center;
}

.form{
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 26px;
    padding-right: 26px;
}

.boxx{
    margin-top: 15px;
    margin-bottom: 15px;
}

.boxone{
    margin-top: 25px;
}

.boxon{
    padding: 25px;
}



.box {
    padding: 20px 30px;
    border-radius: $borderRadius;
    background-color: $mainBg;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &-purple {
        background-color: $purple;
        color: $white;
    }

    &-fullheight {
        height: calc(100% - $spacing);

        @include tablet {
            height: calc(100% - $mobileSpacing);
        }
    }
}

.globCalendar{
    display: flex;
    justify-content: space-between;
}

.globCalendarSidebar{
    flex: 1 1 20%;
    background-color: #f2f0f0;
    padding: 15px;
    border-radius: 5px;
}

.globCalendarSidebarList{
    background-color: #4cceac;
    margin: 10px 0;
    border-radius: 2px;
}

.globCalendarFull{
    flex: 1 1 100%;
    margin-left: 15px;
}


.dashboard-wrapper {
    @include flex(stretch);
    @include tablet {
        flex-direction: column;
    }

    &__main {
        flex-grow: 1;
        padding-right: $sideBarWidth;

        @include tablet {
            padding-right: 0;
        }
    }

    &__right {
        width: $sideBarWidth;
        background-color: $mainBg;
        height: 100vh;
        padding: $spacing;
        border-top-left-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
        position: fixed;
        top: 0;
        right: 0;

        @include tablet {
            position: relative;
            padding: $mobileSpacing;
            margin-top: $mobileSpacing;
            border-radius: $borderRadius;
            width: 100%;
            height: max-content;
        }
    }
}

.overall-list {
    & > * ~ * {
        margin-top: 24px;
    }

    &__item {
        @include flex(center, flex-start);

        &__icon {
            @include flex();
            --size: 50px;
            width: var(--size);
            height: var(--size);
            border-radius: 50%;
            background-color: $bodyBg;
            margin-right: $spacing;

            i {
                font-size: 1.9rem;
                color: $black;
            }
        }

        &__info {
            @include flex(flex-start, space-between);
            flex-direction: column;
        }
    }
}

.progress-bar {
    height: 10px;
    background-color: $bodyBg;
    border-radius: 2.5px;

    &__inner {
        border-radius: 2.5px;
        height: 100%;
        background-color: $orange;
    }
}

.revenue-list {
    & > * ~ * {
        margin-top: 24px;
    }

    &__item {
        &__title {
            @include flex(center, space-between);
            font-size: $fontSizeMedium;
            margin-bottom: 8px;

            span {
                font-weight: 700;
            }
        }
    }
}


.sidebar {
    @include flex(stretch, flex-start);
    flex-direction: column;
    color: $txtColor;
    width: 280px;
    background-color: $mainBg;
    height: 180vh;
    position: absolute;
    top: 0;
    z-index: 100;

    @include tablet {
        width: 100vw;
        background-color: $mainColor;
        color: $white;
        z-index: 1;
    }

    &__logo {
        @include flex();
        height: $sideBarLogoHeight;

        @include tablet {
            justify-content: space-between;
            height: 95px;
            padding: 0 $mobileSpacing;
            margin-bottom: $mobileSpacing;
        }

        img {
            --size: 55px;
            width: var(--size);
            height: var(--size);
        }

        .sidebar-close {
            cursor: pointer;
            display: none;

            i {
                font-size: 2rem;
            }

            @include tablet {
                display: block;
            }
        }
    }

    &__menu {
        @include flex(stretch, flex-start);
        flex-direction: column;
        flex-grow: 1;

        &__item {
            @include flex(center, flex-start);
            position: relative;
            margin-bottom: auto;
            padding-left: 20%;
            transition: color 0.3s ease-in-out;

            @include tablet {
                padding-left: $mobileSpacing;
            }

            &:hover {
                color: $mainColor;

                @include tablet {
                    color: $orange;
                }
            }

            &.active {
                font-weight: 700;
                color: $mainColor;

                @include tablet {
                    color: $orange;
                }

                &::before {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 5px;
                    left: 0;
                    top: 0;
                    background-color: $mainColor;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;

                    @include tablet {
                        background-color: $orange;
                    }
                }
            }

            &__icon {
                --size: 40px;
                width: var(--size);
                height: var(--size);
                margin-right: 1rem;
                @include flex(center, center);

                @include tablet {
                    margin-right: 1rem;
                }

                i {
                    font-size: 1.9rem;
                }
            }

            &:last-child {
                margin-top: auto;
                cursor: pointer;
            }
        }
    }
}


.summary-box {
    @include flex(stretch, flex-start);

    &__chart {
        width: 40%;

        &__value {
            margin-top: -30%;
            font-weight: 700;
        }
    }

    &__info {
        width: 60%;
        @include flex(flex-start, space-between);
        flex-direction: column;

        &__title {
            font-size: $fontSizeMedium;
            font-weight: 700;
            line-height: 1.2;

            span {
                font-size: 13px;
                font-weight: 400;
            }
        }

        &__value {
            font-weight: 700;
            font-size: $fontSizeLarge;
            color: $black;
        }
    }
}

.summary-box-special {
    @include flex(center, space-between);
    flex-direction: column;
    height: 100%;

    &__title {
        font-weight: 700;
        font-size: $fontSizeMedium;
    }

    &__value {
        font-size: $fontSizeLarge;
        font-weight: 700;
    }
}


.topnav {
    @include flex(center, space-between);
    margin-bottom: $spacing;

    @include tablet {
        margin-bottom: $mobileSpacing;
    }
}

.sidebar-toggle {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    @include flex(center, center);
    cursor: pointer;
    display: none;

    @include tablet {
        display: flex;
    }
    
    i {
        font-size: 3rem;
        color: $mainColor;
    }
}

.user-info {
    @include flex(center, flex-start);
    background-color: $mainBg;
    border-radius: $borderRadius;
    height: 50px;
    width: max-content;

    &__img {
        --size: 50px;
        width: var(--size);
        height: var(--size);
        border-radius: $borderRadius;

        img {
            border-radius: $borderRadius;
        }
    }

    &__name {
        padding: 0 $spacing;
        font-size: $fontSizeMedium;
        font-weight: 700;

        @include tablet {
            padding: 0 $mobileSpacing;
        }
    }
}

.main {
    padding-left: 280px;
    overflow-x: hidden;

    @include tablet {
        padding-left: 0;
        width: 100vw;
    }

    &__content {
        min-height: 180vh;
        padding: $spacing;
        transition: all 0.5s ease-in-out;

        @include tablet {
            padding: $mobileSpacing;
            position: relative;
            background-color: $bodyBg;
            z-index: 100;
        }
    }
}

.sidebar-open .main__content {
    height: 100vh;
    overflow: hidden;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transform: scale(0.8) translateX(20%);
    transition: all 0.5s ease-in-out;
}









// Card Next
.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 100%;
  }

  .card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}